$primary-color: #ED403B;
$accent-color: #1B95E0;
$policy-color: #f0ad4e;
$youth-color: #5cb85c;
$klout-color: #E04E1A;

$success-color: #5cb85c;
$error-color: #d9534f;

$tweet-form-background: #E8F3FD;
$tweet-button-background: #1b95e0;
$tweet-button-border: #1b95e0;

@import "components/application/application.scss";
@import "components/shared/module.scss";
@import "components/index/index.scss";
@import "components/compose-content-modal/compose-content.scss";
@import "components/compose-content/compose-content.scss";
@import "components/timeline/timeline.scss";
@import "components/tweet/tweet.scss";
@import "components/tweet-modal/tweet-modal.scss";
@import "components/shared/content-input.scss";
@import "components/shared/icons.scss";
@import "components/handles/handles.scss";
@import "components/handle/handle.scss";
@import "components/topic/topic.scss";
@import "components/manage-topics/manage-topics.scss";
@import "components/infographics/infographics.scss";
@import "components/conversations/conversations.scss";
@import "components/login/login.scss";
@import "components/profile/profile.scss";
@import "components/forgot-password/forgot-password.scss";
@import "components/reset-password/reset-password.scss";
@import "components/search/search.scss";