<div class="handle">
  <div class="handle__meta">
    <a ui-sref="handle({ id: $ctrl.handle.id })" class="tweet__user">
      <img ng-src="{{$ctrl.handle.profile.image}}" alt="" class="tweet__avatar">
      <span class="tweet__user__name">{{$ctrl.handle.name}}</span>
      <span class="tweet__user__username">@{{$ctrl.handle.username}}</span>
    </a><!-- /.tweet__user -->

    <span class="handle__type handle__type--{{$ctrl.handle.meta.type}} badge">{{$ctrl.handle.meta.type | capitalize}}</span>
  </div><!-- /.handle__meta -->

  <handle-topics handle="$ctrl.handle"></handle-topics>

  <div class="handle__klout-score">
    <span class="klout-logo klout-logo--small"></span>
    <span class="handle__klout-score__score">{{handle.klout_score || 'N/A'}}</span>
  </div><!-- /.handle__klout-score -->

  <div class="handle__remove">
    <button class="btn btn-danger handle__remove-button" ng-click="$ctrl.deleteHandle()"><i class="glyphicon glyphicon-trash"></i></button>
  </div><!-- /.handle__remove -->

</div><!-- /.handle -->
