<div id="tweet-{{$ctrl.tweet.id}}" class="tweet" data-tweet-id="{{$ctrl.tweet.id}}">

  <div class="tweet__content">
    <div class="tweet__inner">
      <div class="tweet__conversation-meta">
        <div class="tweet__reply-label" ng-if="$ctrl.tweet.in_reply_to_user_id">
            <span class="glyphicon glyphicon-share-alt tweet__reply-label-icon"></span>
            <span>In reply to <a href="https://twitter.com/{{$ctrl.tweet.in_reply_to_screen_name}}" target="_blank">@{{$ctrl.tweet.in_reply_to_screen_name}}</a></span>
        </div><!-- /.tweet__reply-label -->
      </div><!-- /.tweet__conversation-meta -->

      <div class="tweet__meta">
        <a class="tweet__user" href="https://twitter.com/{{$ctrl.tweet.user.screen_name}}" target="_blank">
          <img ng-src="{{$ctrl.tweet.user.profile_image_url}}" alt="{{$ctrl.tweet.user.name | userInitials}}" class="tweet__avatar" />
          <span class="tweet__user__name">{{$ctrl.tweet.user.name}}</span>&nbsp;
          <span class="tweet__user__username">@{{$ctrl.tweet.user.screen_name}}</span>
        </a><!-- /.tweet__user -->

        <span class="tweet__short-date">• {{$ctrl.tweet.created_at | tweetDate}}</span>
      </div><!-- /.tweet__meta -->

      <div class="tweet__text" ng-bind-html="$ctrl.tweet.text_content"></div><!-- /.tweet__text -->
      <div class="tweet__media-entities" ng-if="$ctrl.tweet.entities.media.length">
        <tweet-media tweet="$ctrl.tweet"></tweet-media>
      </div><!-- /.tweet__entities -->

      <div class="tweet__date">{{$ctrl.tweet.created_at | dateFilter:'shortTime'}} - {{$ctrl.tweet.created_at | dateFilter:'d MMM yyyy'}}</div><!-- /.tweet__date -->
    </div>

    <div class="tweet__toolbar">
      <div class="tweet__action tweet__action-reply" title="Reply to tweet">
        <a href="#" ng-click="$ctrl.replyToTweet()">
          <span class="glyphicon glyphicon-share-alt"></span>
        </a>
      </div>

      <div class="tweet__action tweet__action-retweet" title="Retweet this tweet">
        <a href="#" ng-click="$ctrl.retweetTweet()">
          <span class="glyphicon glyphicon-retweet"></span>
          <span class="tweet__action-retweet-count"></span>
        </a>
      </div>

      <div class="tweet__action tweet__action-like" title="Like tweet">
        <a href="#" ng-click="$ctrl.likeTweet()">
          <span class="glyphicon glyphicon-heart"></span>
          <span class="tweet__action-like-count"></span>
        </a>
      </div>

      <div class="tweet__action tweet__action-more">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">Add handle to <strong>Policy makers</strong></a></li>
            <li><a href="#">Add handle to <strong>Youth</strong></a></li>
            <li role="separator" class="divider"></li><!-- /.separator -->
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>

      <div class="tweet__ask-meta">
        <div class="tweet__confirmed-conversation" title="Confirmed conversation">
          <span>C</span>
        </div><!-- /.tweet__confirmed-conversation -->

        <div class="tweet__klout-score" title="Klout score">
          <span class="klout-logo klout-logo--tiny"></span>
          <span class="tweet__klout-value">{{tweet.user-klout_score || 'N/A'}}</span>
        </div><!-- /.klout-score -->

        <div class="tweet__user-group" title="User group">
          <user-group group-id="$ctrl.tweet.camp_id"></user-group>
        </div><!-- /.tweet__user-group -->
      </div><!-- /.tweet__ask-meta -->
    </div><!-- /.tweet__toolbar -->

    <a href="#" class="tweet__more-replies" ng-if="$ctrl.tweet.meta.repliesCount">View other replies</a><!-- /.tweet__replies -->
  </div><!-- /.tweet__content -->
</div><!-- /.tweet -->
