<div class="tweet">
  <div class="tweet__content">
    <div class="tweet__inner">
      <div class="tweet__meta">
        <a ui-sref="handle({ id: $ctrl.tweet.user.id_str})" class="tweet__user">
          <img src="https://pbs.twimg.com/profile_images/2903581807/b77cac936eefb40c416985abcc04a687_bigger.png" alt="Basketball HOF" class="tweet__avatar" />
          <span class="tweet__user__name">Basketball HOF</span>
          <span class="tweet__user__username">@Hoophall</span>
        </a><!-- /.tweet__user -->

        <span class="tweet__short-date">• {{$ctrl.tweet.created_at | dateFilter:'MMM d'}}</span>
      </div><!-- /.tweet__meta -->

      <div class="tweet__text" ng-bind-html="$ctrl.tweet.text_content"></div><!-- /.tweet__text -->

      <div class="tweet__date">{{$ctrl.tweet.created_at | dateFilter:'shortTime'}} - {{$ctrl.tweet.created_at | dateFilter:'d MMM yyyy'}}</div><!-- /.tweet__date -->
    </div>

    <div class="tweet__toolbar">
      <div class="tweet__action tweet__action-reply">
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
      </div>

      <div class="tweet__action tweet__action-retweet">
        <a href="#">
          <span class="glyphicon glyphicon-retweet"></span>
          <span class="tweet__action-retweet-count"></span>
        </a>
      </div>

      <div class="tweet__action tweet__action-like">
        <a href="#">
          <span class="glyphicon glyphicon-heart"></span>
          <span class="tweet__action-like-count"></span>
        </a>
      </div>

      <div class="tweet__action tweet__action-more">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">Block</a></li>
            <li><a href="#">Report</a></li>
            <li role="separator" class="divider"></li><!-- /.separator -->
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.tweet__toolbar -->
  </div><!-- /.tweet__content -->
</div><!-- /.tweet -->
