<div id="compose-content__modal" class="modal fade compose-content-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header compose-content-modal__header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title compose-content-modal__title" ng-bind="$ctrl.replyTweet ? ('Reply to @' + $ctrl.replyTweet.user.screen_name) : 'Compose new Tweet'"></h4>
      </div>

      <div class="modal-body compose-content-modal__body--reply-tweet" ng-if="$ctrl.replyTweet">
        <tweet tweet="$ctrl.replyTweet" tweet-reply="true"></tweet>
      </div><!-- /.modal-body -->

      <div class="modal-body compose-content-modal__body">
        <div class="compose-content-modal__form tweet-form">
          <div class="tweet-form__content" contenteditable="true" ng-model="$ctrl.tweetForm.content" data-placeholder="Compose new Tweet" content-input></div>
          <!-- <textarea class="tweet-form__content" ng-model="$ctrl.tweetForm.content" placeholder="Compose new Tweet" content-input> -->

        </div><!-- /.compose-content-modal__form tweet-form -->
      </div>

      <div class="modal-footer compose-content-modal__footer">
        <div class="compose-content-modal__toolbar">
          <button class="btn btn-link compose-content-modal__button"><span class="glyphicon glyphicon-camera"></span></button>
        </div><!-- /.compose-content-modal__toolbar -->

        <span class="tweet-footer__counter">{{140 - $ctrl.tweetForm.content.length}}</span>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary compose-content-modal__submit" ng-click="$ctrl.submitContent()" ng-disabled="!$ctrl.tweetForm.content.length">Tweet</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
