<div class="set-password-component">

  <form ng-submit="$ctrl.submitSetPassword()" class="set-password-form">    
    <div class="col-md-12">
      <h2>Set password</h2>
      
      <div class="form-group">
        <label for="set-password-form__password">Password</label>
        <input type="password" name="set-password__password" class="form-control" ng-model="$ctrl.setPasswordForm.password" placeholder="•••••••••">
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <div class="form-group">
        <label for="set-password-form__confirm-password">Confirm password</label>
        <input type="password" name="set-password__password" class="form-control" ng-model="$ctrl.setPasswordForm.confirmPassword" placeholder="•••••••••">
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <button class="btn btn-primary btn-block" type="submit">Set password</button>
    </div><!-- /.col-md-6 -->

  </form><!-- /.set-password-form -->

</div><!-- /.set-password-component -->