.topics-navigation {
  margin-bottom: 32px;
  margin-top: 16px;
}

.topics-navigation__menu {
  width: 250px !important;
}

.topics-navigation__previous {
  text-align: left;
}

.topics-navigation__next {
  text-align: right;
}
