<div id="topics-page">

  <div class="row topics-navigation">
    <div class="col-md-4 topics-navigation__previous">
      <a ui-sref="topic({ id: $ctrl.topicCursors.previousTopic.id })" class="btn btn-link" ng-if="$ctrl.topicCursors.previousTopic">
        <i class="glyphicon glyphicon-menu-left"></i>
        <span>{{$ctrl.topicCursors.previousTopic.name}}</span>
      </a>
    </div><!-- /.col-md-3 -->
    <div class="col-md-4">

      <select class="topics-navigation__menu"
        ng-model="$ctrl.selectedTopicId" ng-change="$ctrl.changeTopic()"
        ng-options="topic.id as topic.name for topic in $ctrl.topics">
      </select>

      <a ui-sref="manage_topics" class="btn btn-link">Manage topics</a>

    </div><!-- /.col-md-6 -->

    <div class="col-md-4 topics-navigation__next">
      <a ui-sref="topic({ id: $ctrl.topicCursors.nextTopic.id })" class="btn btn-link" ng-if="$ctrl.topicCursors.nextTopic">
        <span>{{$ctrl.topicCursors.nextTopic.name}}</span>
        <i class="glyphicon glyphicon-menu-right"></i>
      </a>
    </div><!-- /.col-md-3 -->
  </div><!-- /.row -->

  <div class="row">
    <!-- Left sidebar -->
    <div id="topics-page__left-sidebar" class="col-md-3">
      <topic-info-module topic="$ctrl.topicCursors.currentTopic"></topic-info-module>
    </div><!-- /#topics-page__left-sidebar.col-md-3 -->

    <!-- Content -->
    <div id="topics-page__content" class="col-md-9">
      <timeline config="{ topicId: $ctrl.topicCursors.currentTopic.id }" ng-if="$ctrl.topicCursors.currentTopic"></timeline>
    </div><!-- /#topics-page__content.col-md-6 -->

  </div><!-- /.row -->

</div><!-- /#topics-page -->
