.topics-navigation {
  margin-bottom: 32px;
  margin-top: 16px;
}

.topics-navigation__menu {
  width: 250px !important;
}

.topics-navigation__previous,
.topics-navigation__next {
  a {
    display: block;
  }
}

.topics-navigation__previous {
  a { text-align: left; }
}

.topics-navigation__next {
  a { text-align: right; }
}

.topic-info__keyword {
  font-size: 14px;
  margin-right: 5px;
}

.topic-stats__no-stats {
  color: #8899a6;
  text-align: center;
}

.conversations__count {
  margin-top: 5px;
}