.tweet {
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  min-height: 66px;
  padding: 9px 12px;

  &:hover {
    background-color: #f5f8fa;
  }
}

.tweet__content {
  padding-left: 58px;
}

.tweet__user {
  &, &:hover {
    text-decoration: none;
  }

  &:hover {
    .tweet__user__name {
      color: #1b95e0;
      text-decoration: underline;
    }
  }
}

.tweet__avatar {
  border-radius: 5px;
  height: 48px;
  margin-left: -58px;
  position: absolute;
  width: 48px;
}

.tweet__user__name {
  color: #000;
  font-weight: 600;
}

.tweet__user__username {
  color: #8899a6;
  font-size: 13px;
}

.tweet__time {
  color: #8899a6;
  font-size: 13px;
  margin-left: 0px;
}

.tweet__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tweet__handle,
.tweet__hashtag {
  &, &:hover {
    color: #1b95e0;
  }
}

.tweet__toolbar {
  margin: 10px 0 2px;
}

.tweet__action {
  display: inline-block;
  font-size: 16px;
  width: 80px;

  a {
    color: #aab8c2;
    text-decoration: none;

    &:hover {
      color: #1b95e0;
      text-decoration: none;
    }
  }
}

.tweet__action-retweet {
  a, a:hover,
  &.is-retweeted {
    color: #19cf86;
  }
}

.tweet__action-like {
  a, a:hover,
  &.is-liked {
    color: #E2264D;
  }
}

.tweet__action-like-count,
.tweet__action-retweet-count {
  display: inline-block;
  font-size: 13px;
  margin: 0 3px;
  vertical-align: text-bottom;
}
