<div class="tweet">
  <div class="tweet__content">
    <a href="#" class="tweet__user">
      <img src="https://pbs.twimg.com/profile_images/2903581807/b77cac936eefb40c416985abcc04a687_bigger.png" alt="Basketball HOF" class="tweet__avatar" />
      <span class="tweet__user__name">Basketball HOF</span>
      <span class="tweet__user__username">@Hoophall</span>
    </a><!-- /.tweet__user -->

    <span class="tweet__time">- Sep 19</span>

    <div class="tweet__text">
      <a href="#" class="tweet__hashtag">#Didyouknow</a> that HOF'er Michael Jordan was a 14x NBA All-Star, 6x MVP and won 6 NBA Championships?
    </div><!-- /.tweet__text -->

    <div class="tweet__toolbar">
      <div class="tweet__action tweet__action-reply">
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
      </div>

      <div class="tweet__action tweet__action-retweet is-retweeted">
        <a href="#"><span class="glyphicon glyphicon-retweet"></span> <span class="tweet__action-retweet-count">1</span></a>
      </div>

      <div class="tweet__action tweet__action-like is-liked">
        <a href="#"><span class="glyphicon glyphicon-heart"></span> <span class="tweet__action-like-count">1</span></a>
      </div>

      <div class="tweet__action tweet__action-more">
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.tweet__toolbar -->
  </div><!-- /.tweet__content -->
</div><!-- /.tweet -->
