.add-handle-row {
  margin-bottom: 10px;
  margin-top: 30px;
}

.handles__handle {
  min-height: 80px;
  padding-left: 74px;
  position: relative;

  .handle {
    min-height: 65px;
    padding-right: 100px;
  }

  &:hover {
    .handle__remove {
      display: inline-block;
    }
  }
}

handle-topics {
  &.is-adding-topic {
    .handle__add-topic-button {
      display: none;
    }

    .handle__add-topic-menu-group {
      display: inline-block !important;
    }
  }

  &.is-removing-handle {
    .handle__remove {
      display: inline-block;
    }
  }

  &.no-available-topics {
    .handle__add-topic-button {
      display: none;
    }
  }
}

.handle__topics {
  margin-top: 9px;
  min-height: 30px;
}

.handle__topic {
  border: 1px solid #ddd;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.handle__add-topic-button {
  line-height: 28px;
}



.handle__add-topic-menu {
  width: 160px !important;
}

.handle__add-topic-menu-group {
  display: none !important;
}

.handle__add-topic-menu-close {
  float: right !important;
}

.handle__topic__delete {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
}

.handle__type {
  &--youth {
    background-color: #5bc0de;
    color: #fff;
  }

  &--policy {
    background-color: #5cb85c;
    color: #fff;
  }
}

.handle__klout-score {
  color: #E67C69;
  line-height: 26px;
  height: 48px;
  margin-bottom: 5px;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 10px;

  .klout-logo {
    float: left;
    margin-right: 5px;
  }

  &__score {
    font-weight: 600;
  }
}

.handle__remove {
  bottom: 10px;
  display: none;
  position: absolute;
  right: 15px;
}

.handle-group {
  border-radius: 2px;
  display: inline-block;
  padding: 5px;

  &--policy {
    background-color: $policy-color;
    color: #fff;
  }

  &--youth {
    background-color: $youth-color;
    color: #fff;
  }
}
