<div id="handles-page">

  <!-- Content -->
  <div id="handles-page__content" class="col-md-12">
    <div class="container">

      <div class="row filters-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="search__handles">Search</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
              <input type="text" class="form-control" id="search__handles" placeholder="Search handles">
            </div>
          </div>
        </div><!-- /.col-md-6 -->

        <div class="col-md-2">
          <div class="form-group">
            <label for="filter__arrange-by">Arrange by</label>
            <select id="filter__arrange-by" ng-model="$ctrl.filters.arrangeBy" ng-change="$ctrl.filterHandles()">
              <option value="created_at-desc">Newest first</option>
              <option value="created_at-asc">Oldest first</option>
              <option value="klout-asc">Lowest Klout score</option>
              <option value="klout-desc">Highest Klout score</option>
              <option value="name-asc">A - Z</option>
              <option value="name-desc">Z - A</option>
            </select>
          </div><!-- /.form-group -->
        </div><!-- /.col-md-2 -->
        <div class="col-md-2">
          <div class="form-group">
            <label for="filter__show-groups">Show groups</label>
            <select id="filter__show-groups" ng-model="$ctrl.filters.showGroups" ng-change="$ctrl.filterHandles()">
              <option value="both">Both groups</option>
              <option value="1">Youth</option>
              <option value="2">Policy makers</option>
            </select>
          </div><!-- /.form-group -->
        </div><!-- /.col-md-2 -->
        <div class="col-md-2">
          <div class="form-group">
            <label for="filter__topic">Topic filter</label>
            <select id="filter__topic" ng-model="$ctrl.filters.topicFilter" ng-change="$ctrl.filterHandles()">
              <option value="all">All</option>
              <option value="{{topic.id}}" ng-repeat="topic in $ctrl.topics">{{topic.name}}</option>
            </select>
          </div><!-- /.form-group -->
        </div><!-- /.col-md-2 -->
      </div><!-- /.row.filters-row -->

      <div class="row add-handle-row">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-btn">
              <select ng-model="$ctrl.handleForm.type">
                <option value="youth">Youth</option>
                <option value="policy">Policy</option>
              </select>
            </div><!-- /.input-group-btn -->
            <input type="text" class="form-control" ng-model="$ctrl.handleForm.handle" ng-keyup="$ctrl.createHandle($event)" placeholder="Add handle">
            <div class="input-group-btn">
              <button class="btn btn-default" type="button" ng-disabled="!$ctrl.handleForm.handle">
                <i class="glyphicon glyphicon-remove"></i></button>
            </div><!-- /.input-group-btn -->
          </div><!-- /.input-group -->
        </div><!-- /.col-md-6 -->
      </div><!-- /.row add-handle-row -->

      <div class="row handles-list-row">
        <div class="col-md-12">
          <div class="list-group handles">
            <div class="list-group-item handles__handle" ng-repeat="handle in $ctrl.handles track by $index">

              <handle-list-item handle="handle" topics="$ctrl.topics" on-delete="$ctrl.onHandleRemove(handle)"></handle-list-item>

            </div><!-- /.list-group-item -->
          </div><!-- /.list-group -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row handles-list-row -->

    </div><!-- /.container -->
  </div><!-- /#handles-page__content.col-md-12 -->

</div><!-- /#handles-page -->
