$tweet-form-background: #E8F3FD;
$tweet-button-background: #1b95e0;
$tweet-button-border: #1b95e0;

compose-content {
  &.is-dirty,
  &.is-focused {
    .compose-content__body {
      padding-bottom: 2px;
    }

    .compose-content__footer {
      display: block;
      padding-bottom: 10px;
    }

    .tweet-form__content {
      min-height: 80px;
    }
  }
}

.compose-content {
  background-color: $tweet-form-background;
  border-bottom: 1px solid #e1e8ed;
  padding-left: 55px;

  .tweet-form__content {
    min-height: 36px;
  }
}

.compose-content__toolbar {
  float: left;
}

.compose-content__avatar {
  height: 32px;
  margin-left: -42px;
  margin-top: 2px;
  position: absolute;
  width: 32px;

  img {
    border-radius: 4px;
    height: inherit;
    width: inherit;
  }
}

.compose-content__body,
.compose-content__footer {
  padding: 15px;
}

.compose-content__footer {
  display: none;
  padding-top: 7px;
  text-align: right;
}

.compose-content__toolbar {
  .btn {
    border-radius: 2px;
    height: 40px;
    outline: none;

    &:hover {
      border: 1px solid #a3d4f2;
    }

    .glyphicon {
      font-size: 24px;
    }
  }
}

.compose-content__counter {
  color: #8899a6;
  display: inline-block;
  margin: 0 8px;
  position: relative;
  top: 1px;
}

.compose-content__submit {
  background-image: none;
  background-color: $tweet-button-background;
  padding: 8px 16px;
}

.tweet-form__content {
  background-color: #fff;
  border: 1px solid #c6e4f7;
  border-radius: 3px;
  cursor: text;
  min-height: 80px;
  outline: none;
  padding: 8px 10px;
  position: relative;

  &:focus {
    border: 1px solid #a3d4f2;
  }

  &:empty:before {
    color: #ccd6dd;
    content: attr(data-placeholder);
    display: block;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 10px;
    right: 10px;
  }
}
