<div class="compose-content" ng-class="{'has-media': $ctrl.tweetForm.hasImage}">
    <div class="compose-content__body">
      <div class="compose-content__avatar">
        <img src="{{$ctrl.currentUser.handle.profile.image}}" alt="{{$ctrl.currentUser.handle.name}}">
      </div>
      <div class="tweet-form">
        <div class="tweet-form__content" contenteditable="true" ng-model="$ctrl.tweetForm.content" data-placeholder="Compose new Tweet" content-input>
        <!-- <textarea class="tweet-form__content" ng-model="$ctrl.tweetForm.content" placeholder="Compose new Tweet" content-input> -->

        </div><!-- /.tweet-form__content -->

        <div class="tweet-form__preview clearfix" ng-if="$ctrl.tweetForm.image || $ctrl.infographics">
          <div class="tweet-form__preview-item">
            <img ngf-src="$ctrl.tweetForm.image" class="tweet-form__preview-image" ng-if="!$ctrl.infographics" />
            <img ng-src="{{$ctrl.infographics.url}}" class="tweet-form__preview-image" ng-if="$ctrl.infographics" />
            <span class="tweet-form__remove-preview-item glyphicon glyphicon-remove" ng-click="$ctrl.removeImage()"></span>
          </div><!-- /.tweet-form__preview-item -->
        </div><!-- /.tweet-form__preview -->
      </div><!-- /.tweet-form -->
    </div><!-- /.compose-content__body -->

    <div class="compose-content__footer">
      <div class="compose-content__toolbar">
        <button class="btn btn-link compose-content__button">
          <label class="upload" ngf-select="$ctrl.selectImage($file)" ngf-pattern="'.png,.jpg'" ngf-max-files="1">
            <input type="file" class="upload__input">
            <span class="upload__icon glyphicon glyphicon-camera"></span>
          </label>
        </button>
      </div>

      <img src="/images/tweet-loader.gif" alt="Posting tweet..." class="compose-content__loader" />

      <span class="tweet-footer__counter">{{140 - $ctrl.tweetForm.content.length}}</span>

      <button class="btn btn-primary compose-content__submit" ng-disabled="!$ctrl.tweetForm.content.length" ng-click="$ctrl.submitContent($event)">Tweet</button>
    </div><!-- /.compose-content__footer -->
</div><!-- /.compose-content -->
