<div class="timeline">

  <!-- Modal to show selected tweet -->
  <tweet-modal tweet-id="$ctrl.selectedTweet.id" on-close="$ctrl.selectedTweet = null" ng-if="$ctrl.selectedTweet.id"></tweet-modal>

  <div class="tweets" ng-class="{ 'is-empty': !$ctrl.tweets.length }">
    <compose-content ng-if="$ctrl.composeContent"></compose-content>

    <!-- Load pending tweets button -->
    <a class="tweets__load-more" href="#"
      ng-if="$ctrl.pendingTweets.length" ng-click="$ctrl.renderPendingTweets()">
        View {{$ctrl.pendingTweets.length}} more Tweets</a>

    <!-- Message when not tweets are found. -->
    <div class="tweets__empty">No tweets found.</div><!-- /.tweets__empty -->

    <tweet ng-repeat="tweet in $ctrl.tweets track by $index" tweet="tweet" ng-click="$ctrl.selectTweet(tweet)"></tweet>

    <a class="timeline__load-more" href="#" ng-if="!this.noMoreTweets" ng-click="$ctrl.loadMoreTweets()">Load more</a>
  </div><!-- /.tweets -->

</div><!-- /.timeline -->
