.timeline__load-more {
  background-color: #f5f8fa;
  color: $accent-color;
  cursor: pointer;
  display: block;
  padding: 10px 0;
  text-align: center;

  &:focus,
  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

  &:hover {
    background-color: #e1e8ed;
  }
}