<div id="profile-component" class="profile-component">
  
  <form ng-submit="$ctrl.updateProfile()" class="profile-form" novalidate>
    
    <div class="col-md-12">
      <div class="form-group">
        <label for="profile-form__name">Name</label>
        <input type="text" id="profile-form__name" class="form-control" ng-model="$ctrl.profileForm.name" />
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <div class="form-group">
        <label for="profile-form__name">Email</label>
        <input type="text" id="profile-form__name" class="form-control" value="{{$ctrl.currentProfile.email}}" disabled readonly />
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <hr />
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <h4>Update password</h4>

      <div class="form-group">
        <label for="profile-form__current-password">Current password</label>
        <input type="password" id="profile-form__current-password" class="form-control" ng-model="$ctrl.profileForm.currentPassword" />
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <div class="form-group">
        <label for="profile-form__new-password">New password</label>
        <input type="password" id="profile-form__new-password" class="form-control" ng-model="$ctrl.profileForm.password" />
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <div class="form-group">
        <label for="profile-form__confirm-password">Confirm password</label>
        <input type="password" id="profile-form__confirm-password" class="form-control" ng-model="$ctrl.profileForm.confirmPassword" />
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <button class="btn btn-block btn-primary" type="submit">Update profile</button>
    </div><!-- /.col-md-12 -->

  </form><!-- /.profile-form -->

</div><!-- /#profile-component.profile-component -->