body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 1220px;
}

a {
  color: $accent-color;
}

application {
  display: block;
}

#application {
  min-width: 1220px;
  padding-bottom: 32px;
  padding-top: 64px;
}

#brand {
  color: $primary-color;
}

#profile__link {
  color: $primary-color;
}

#container {
  @media (min-width: 1200px) {
    width: 1220px;
  }
}

.logo {
  background: url(/images/ask-logo.png) center top no-repeat;
  background-size: contain;
  height: 89px;
  width: 341px;
}

.navigation__item {
  a {
    &:hover {
      box-shadow: 0 -4px 0 0 $primary-color inset;
      transition: box-shadow .5s;
    }

    &.is-active {
      box-shadow: 0 -4px 0 0 $primary-color inset;
    }
  }
}

.header-search {
  text-align: right;
  width: 330px;
}

.header-search__input {
  transition: width .5s !important;
  width: 200px !important;

  &:focus {
    width: 300px !important;
  }
}

.upload {
  cursor: pointer;

  &__input {
    display: inline;
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
  }

  &__icon {
    cursor: pointer;
  }

  &__label {
    cursor: pointer;
  }
}

.page__title {
  margin-bottom: 36px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-image: none;
  background-color: $accent-color;
  color: #fff;
}

.bootstrap-select {
  width: 100% !important;

  .dropdown-menu {
    li {
      &, &:hover, &:focus, &.selected, a {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}

tags-input {
  .host {
    margin: 0;
  }

  .tags {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 3px;

    .tag-item {
      background: #fff;

      &.selected {
        background: #777;
        color: #fff;
      }
    }
  }
}
