body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 1220px;
}

a {
  color: $accent-color;
}

application {
  display: block;
}

#application {
  min-width: 1220px;
  padding-bottom: 32px;
  padding-top: 64px;
}

#brand {
  color: $primary-color;
}

#profile__link {
  color: $primary-color;
}

#container {
  @media (min-width: 1200px) {
    width: 1220px;
  }
}

.navigation__item {
  a {
    &:hover {
      box-shadow: 0 -4px 0 0 $primary-color inset;
      transition: box-shadow .5s;
    }

    &.is-active {
      box-shadow: 0 -4px 0 0 $primary-color inset;
    }
  }
}

.header-search {
  text-align: right;
  width: 330px;
}

.header-search__input {
  transition: width .5s !important;
  width: 200px !important;

  &:focus {
    width: 300px !important;
  }
}

.upload {
  cursor: pointer;

  &__input {
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
  }

  &__icon {
    cursor: pointer;
  }
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-image: none;
  background-color: $accent-color;
  color: #fff;
}

.bootstrap-select {
  width: 100% !important;

  .dropdown-menu {
    li {
      &, &:hover, &:focus, &.selected, a {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

tags-input {
  .host {
    margin: 0;
  }

  .tags {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 3px;

    .tag-item {
      background: #fff;

      &.selected {
        background: #777;
        color: #fff;
      }
    }
  }
}
