<div id="infographics-page">

  <!-- Left sidebar -->
  <div id="infographics-page__left-sidebar" class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Infographics</div><!-- /.panel-heading -->

      <div class="list-group">
        <a ui-sref="infographics({ start_date: month.start_date, end_date: month.end_date })" ui-sref-active="active" class="list-group-item" ng-repeat="month in $ctrl.months">
          {{month.start_date | dateFilter:'MMMM'}}
        </a><!-- /.list-group-item -->
      </div><!-- /.list-group -->
    </div><!-- /.panel panel-default -->
  </div><!-- /#infographics-page__left-sidebar.col-md-3 -->

  <!-- Content -->
  <div id="infographics-page__content" class="col-md-9">
    <h1 class="page__title">
      Infographics

      <label class="upload pull-right" ngf-select="$ctrl.uploadInfographics($file)">
        <span class="btn btn-default upload__label">Upload new infographics</span>
        <input type="file" class="upload__input" name="upload_infographics">
      </label>
    </h1>

    <infographics-wall images="$ctrl.images"></infographics-wall>
  </div><!-- /#infographics-page__content.col-md-9 -->

</div><!-- /#infographics-page -->
