<div class="reset-password-component">

  <form ng-submit="$ctrl.submitResetPassword()" class="reset-password-form">    
    <div class="col-md-12">
      <h2>Reset password</h2>
      
      <div class="form-group">
        <label for="reset-password-form__password">Password</label>
        <input type="password" name="reset-password__password" class="form-control" ng-model="$ctrl.resetPasswordForm.password" placeholder="•••••••••">
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <div class="form-group">
        <label for="reset-password-form__confirm-password">Confirm password</label>
        <input type="password" name="reset-password__password" class="form-control" ng-model="$ctrl.resetPasswordForm.confirmPassword" placeholder="•••••••••">
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <button class="btn btn-primary btn-block" type="submit">Reset password</button>
    </div><!-- /.col-md-6 -->

  </form><!-- /.reset-password-form -->

</div><!-- /.reset-password-component -->