<div class="reset-password-component">

  <form ng-submit="$ctrl.submitForgotPassword()" class="forgot-password-form">
    
    <div class="col-md-12">
      <h2>I forgot my password!</h2>

      <div class="form-group">
        <label for="forgot-password__email">Email</label>
        <input type="text" name="forgot-password__email" class="form-control" ng-model="$ctrl.forgotPasswordForm.email" placeholder="user@domain.com">
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Forgot password</button>
      </div><!-- /.form-group -->
    </div><!-- /.col-md-6 -->

    <hr />

    <div class="col-md-12">
      <div class="form-group">
        Remembered you password? <a ui-sref="login">Login</a>
      </div><!-- /.form-group -->
    </div><!-- /.col-md-12 -->

  </form><!-- /.reset-password-form -->

</div><!-- /.reset-password-component -->