.conversations-count {
  text-align: center;

  &__value {
    color: $primary-color;
    font-size: 72px;
    font-weight: 600;
  }

  &__title {
    font-size: 18px;
  }
}

.conversations-filter__content {
  margin-bottom: 20px;
}

.conversations-filter__content-search {
  margin-bottom: 40px;
}

.conversations-filter__participants-number-type,
.conversations-filter__tweet-count-type {
  margin-right: 5px;
  width: 100px !important;
}

.conversation-stats {
  &__item {
    margin: 30px 0;
    text-align: center;
  }

  &__label {
    font-size: 18px;
  }

  &__value {
    color: $accent-color;
    font-size: 72px;
  }
}

.conversations-navigation {
  margin: 0 0 40px 0;
}

.conversations-navigation__previous a,
.conversations-navigation__next a {
  display: block;
}

.conversations-navigation__previous a {
  text-align: left;
}

.conversations-navigation__next a {
  text-align: right;
}

.conversation {
  border-radius: 6px;
  margin-bottom: 10px;

  .tweet {
    border-radius: 5px;
  }
}

.conversation__topic-menu {
  float: right !important;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 150px !important;
}

.conversation__title {
  background-color: #f5f8fa;
  border-bottom: 1px solid #e1e8ed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #1B95E0;
  cursor: pointer;
  display: block;
  padding: 10px;
  position: relative;
}
