<div class="manage-topic-page">

  <div class="row">

    <!-- Content -->
    <div id="manage-topics-page__content" class="col-md-8">
      <tags-input ng-model="$ctrl.topicKeywords"></tags-input>
    </div><!-- /#manage-topics-page__content.col-md-9 -->

    <!-- Right sidebar -->
    <div id="manage-topics-page__right-sidebar" class="col-md-4">

      <button class="btn btn-primary">Save changes</button>
      <a ui-sref="topics" class="btn btn-link">Discard changes</a>

    </div><!-- /#manage-topics-page__right-sidebar.col-md-3 -->

  </div><!-- /.row -->

</div><!-- /.manage-topic-page -->
