<div class="manage-topic-page">

  <!-- Content -->
  <div id="manage-topics-page__content" class="col-md-8">
    <div class="form-group input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Enter topic name" ng-model="$ctrl.topic.name">
      <div class="input-group-btn">
        <button class="btn btn-default btn-danger" ng-click="$ctrl.deleteTopic()"><i class="glyphicon glyphicon-trash"></i></button>
      </div><!-- /.input-group-btn -->
    </div><!-- /.form-group -->

    <div class="form-group">
      <label for="topic__keywords">Relevant keywords</label>
      <tags-input id="topic__keywords" ng-model="$ctrl.topicKeywords"></tags-input>
    </div><!-- /.form-group -->

    <div class="topic-influencers">
      <label>Top influencers</label>

      <div class="list-group handles">
        <div class="list-group-item handles__handle" ng-repeat="handle in $ctrl.topic.handles">
          <div class="handle">
            <div class="handle__meta">
              <a ui-sref="handle({ id: handle.id })" class="tweet__user">
                <img ng-src="{{'https://avatars.io/twitter/'+handle.username}}" alt="" class="tweet__avatar">
                <span class="tweet__user__name">{{handle.name}}</span>
                <span class="tweet__user__username">@{{handle.username}}</span>
              </a><!-- /.tweet__user -->

              <user-group group-id="handle.camp_id"></user-group>
            </div><!-- /.handle__meta -->

            <div class="handle__klout-score">
              <span class="klout-logo klout-logo--small"></span>
              <span class="handle__klout-score__score">{{handle.klout_score || 'N/A'}}</span>
            </div><!-- /.handle__klout-score -->

            <div class="conversations__count">
              Conversation contributed: <strong>7</strong>
            </div><!-- /.conversations__count -->

          </div><!-- /.handle -->
        </div><!-- /.list-group-item -->
      </div><!-- /.list-group -->

    </div><!-- /.topic-influencers -->

  </div><!-- /#manage-topics-page__content.col-md-9 -->

  <!-- Right sidebar -->
  <div id="manage-topics-page__right-sidebar" class="col-md-4">

    <button class="btn btn-primary" ng-click="$ctrl.updateTopic()">Save changes</button>
    <a ui-sref="topics" class="btn btn-link">Discard changes</a>

  </div><!-- /#manage-topics-page__right-sidebar.col-md-3 -->

</div><!-- /.manage-topic-page -->
