<div id="index-page">

  <!-- Left sidebar -->
  <div id="index-page__left-sidebar" class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <global-stats-module></global-stats-module>
      </div><!-- /.panel-body -->
    </div><!-- /.panel panel-default -->

    <div class="panel panel-default">
      <div class="panel-heading">Last 30 days</div><!-- /.panel-heading -->
      <div class="panel-body">

        <user-klout-stats-module></user-klout-stats-module>
        <conversation-contributions-stats-module></conversation-contributions-stats-module>
        <keyword-stats-module></keyword-stats-module>
        <most-tweets-stats-module></most-tweets-stats-module>

      </div><!-- /.panel-body -->
    </div><!-- /.panel panel-default -->
  </div><!-- /#index-page__left-sidebar.col-md-3 -->

  <!-- Content -->
  <div id="index-page__content" class="col-md-6">
    <timeline></timeline>
  </div><!-- /#index-page__content.col-md-6 -->

  <!-- Right sidebar -->
  <div id="index-page__right-sidebar" class="col-md-3">
    Right sidebar
  </div><!-- /#index-page__right-sidebar.col-md-3 -->

</div><!-- /#index-page -->
