.tweet-modal {
  .modal-dialog {
    width: 640px;
  }

  .modal-content {
    overflow: hidden;
  }
}

.tweet-modal__dialog {
  &.is-loading {
    .modal-content {
      display: none;

      &.tweet-modal__content--loading {
        display: block;
      }
    }
  }
}

.tweet-modal__content--loading {
  display: none;

  .modal-body {
    color: #8899a6;
    padding: 30px 40px;
    text-align: center;
  }
}

.tweet-modal__in-reply-to {
  border-bottom: 0;
  padding: 0;

  .tweet {
    padding: 9px 40px;
  }
}

.tweet-modal__header {
  border-bottom: none;
  padding: 30px 40px;
}

.tweet-modal__body {
  background-color: #E8F3FD;
  border-top: 1px solid #e5e5e5;
  padding: 0 20px 0 24px;

  .compose-content {
    border-bottom: 0;
  }
}

.tweet-modal__footer {
  background-color: #F5F8FA;
  padding: 0;
  text-align: left;

  .tweet {
    padding: 9px 40px;
  }

  // .tweet__ask-meta {
  //   margin: -9px -40px 0px -40px;
  //   padding: 9px 40px 7px 98px;
  // }
}

.tweet-modal__replies {
  // border-bottom: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  margin-top: 10px;
  margin-bottom: 40px;

  .tweet:last-child {
    // border-bottom: none;
  }
}
